.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 19px;
    background-color: #f0f4f8;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px; /* Adjust the size of the logo as needed */
    margin-right: 20px; /* Space between the logo and the navigation */
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navItem {
    margin-right: 20px;
}

.button {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #005bb5;
}
